* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    /* background-color: black; */
    background-image: url(../asset/background/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgba(22, 22, 22, 0.363);
    display: flex;
    position: relative;
    height: 80px;
    align-items: center;
}

.logo-box {
    position: absolute;
    left: 30px;
}

#logo-top {
    height: 65px;
}

.top-navagation-box {
    position: absolute;
    right: 30px;
}

.top-navagation-box > ul {
    display: flex;
    list-style: none;
}

.top-navagation-box > ul >li:not(:last-child) {
    margin-right: 15px;
}

.link:link,
.link:visited {
    text-decoration: none;
}

.top-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 15px 30px;
    font-size: 18px;
}


/* ============================  */
/* section 1  */
/* ============================ */
.main {
    position: relative;
    height: 100vh;
}
.info-box {
    height: 400px;
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: -250px;
    border-radius: 8px;
}

.info-box-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.info-box-display-left {
    width: 30%;
    height: 100%;
}

.box-1-top {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
}

.info-box-display-right {
    display: flex;
    width: 68%;
    align-items: center;
}

.info-box-top-right {
    height: 70%;
    width: 90%;
    background: white;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.486);
    border-radius: 12px;
}